@import 'styles/Variables';

.content {
    padding: 2rem;
    @media (min-width: $breakpoint-small) {
        padding: 5rem 8rem;
    }
    background-color: #B7CDC2;
    border: 5px solid white;
    position: relative;
}
.heading h2 {
    text-align: center;
}

.homeIntro:before {
    height: 65%;
}

.homeIntro {
    z-index: 9;
}

.image {
    max-width: 160px;
    position: absolute;
    @media (min-width: $breakpoint-small) {
        right: -75px;
        display: block;
        bottom: -75px;    
    }
    display: none;
    
    animation: rotation 25s infinite linear;
}

.image:hover {
  animation-play-state: paused;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeIntroWrapper {
    z-index: 9999999;
}