@import 'styles/Variables';

.entry-header {
  color: var(--color-white);
    
  // @media (min-width: $breakpoint-small) {
  //   margin-top: 155px;
  // }
  margin-top: 155px;
}

.EntryHeader_image {
  position: relative;

  figure {
    margin: 0;
  }


}
  @media (min-width: $breakpoint-small) {
  .featured-image {
    // height: 1000px !important;
  }
  }

.heading-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, .45); 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10rem;
    line-height: 10rem;
    @media screen and (max-width: 925px) {
      font-size: 5rem;
      line-height: 5rem;
    }
}


  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



.text,
.image {
  margin: auto;
  text-align: center;
}

.text {
  width: 100%;
}

.title {
  line-height: 1em;
  font-weight: 700;
}

.byline {
  font-weight: $font-weight-bold;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.image {
  display: block;
  position: relative;
  min-height: 315px;
  figure {
    min-height: 315px;
    object-fit: cover;
    img {min-height: 315px;object-fit: cover;}
  }

  &:before {
    content: ' ';
    height: 50%;
    width: 100%;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

.featured-image {
  margin: 0;
}
