@import 'styles/Variables';

.homepageTicker {
    background-color: var(--color-secondary);
    padding: 0;

    h2 {
        color: var(--color-primary);
        margin: 0 !important;
        @media (min-width: $breakpoint-small) {
            font-size: 8rem;
            padding: 9.5rem 0;
        }
        font-size: 5rem;
        padding: 5rem 0;
        text-transform: uppercase;
    }

    .mustangSuccess {
        font-weight: 900 !important;
    }
   
}