@import 'styles/Variables';

.featured-image {
  // border: 2rem solid var(--color-white);
  background-color: var(--color-white);
  // box-shadow: $box-shadow;

    @media (min-width: $breakpoint-small)  {
      // height: 655px;
        height: 655px;
  overflow: hidden;
      img {
        // height: 655px !important;
        // width: auto !important;
            height: 100% !important;
    width: 100% !important;
    object-fit: cover;
      }
    }
}